@{
    ViewData["Title"] = "IF CƠ BẢN";
}
@model IEnumerable<excelproj.Models.exceldatamodel2>

    IF cơ bản
<div class="outer-item">
    @* body *@
    <div class="inner-content">

        <div class="inputNbutton1">

            <div class="xxx">
                <input class="inputfile" type="file" id="fileInput" />
                <label id="fileNameDisplay" for="fileInput" class="hlabel">Chọn file bài tập</label>
                <button style="margin-top:5px;height:30px;cursor:pointer;margin-top:4px" class="bg-blue" id="uploadButton">Tải file</button>
            </div>
        </div>
        <div style="min-height:300px;width:100%;border:1px solid black" class="inner2" id="dataDiv">
            

        </div>
        <div class="inputNbutton">
            <select id="options" onchange="showhint()" placeholder="abc">
                <option value="0" selected="selected">Nhập yêu cầu bài toán</option>
                <option value="1">IF cơ bản</option>
                
            </select>
           
            
        </div>
        <div class="inner4 headinh">
            <div class="bg-blue">Hướng dẫn giải</div>
        </div>
        <div class="inner5">
            <div id="displayhint" style="min-height:100px;width:100%">
                Hiển thị gợi ý
            </div>
            <div class="inputNbutton" style="position:relative">
                <input type="text" id="formulaInput" placeholder="Nhập công thức (vd: A1+B1) không nhập dấu =" />
                <button style="bottom:0;position:absolute; right:0" class="bg-blue" id="executeFormulaButton">Test công thức</button>
            </div>
        </div>
        <div class="inner6 headinh">
            <div class="bg-blue">Nếu chưa biết cách làm, tham khảo đáp án dưới đây</div>
        </div>
        <div class="inner6">

            <button onclick="data()" style="cursor:pointer;height: 40px;width:19%" class="bg-blue">Hiện đáp án</button>
            <div style="width:100%" id="displayanswer">Đáp án</div>
        </div>
    </div>
</div>
<div id="trongbui"></div>
<script>
    document.getElementById('fileInput').addEventListener('change', function (event) {
        var fileInput = event.target;
        var fileNameDisplay = document.getElementById('fileNameDisplay');
        if (fileInput.files && fileInput.files.length > 0) {
            var fileName = fileInput.files[0].name;
            fileNameDisplay.textContent = 'Đã chọn file: ' + fileName;
            console.log(fileName);
        } else {
            fileNameDisplay.textContent = 'Chưa chọn file';
        }
    });
    function showhint() {
        var select = document.getElementById('options');
        var display = document.getElementById('displayhint');
        switch(select.value){
            case '0':
                display.innerHTML = 'Chọn yêu cầu bài toán'; break;
            case '1':
                display.innerHTML = '<p>=IF (điều kiện, giá trị đúng, giá trị sai)</p>';
                var tab = document.querySelector('.table');
                var rows = tab.rows;
                for (let i = 1; i < rows.length; i++) {
                    const cells = rows[i].cells;
                    if (cells.length > 3) {
                        cells[4].style.backgroundColor = '#36C2CE';
                    }
                }
                break;
        }
        };
    document.getElementById('uploadButton').addEventListener('click', function () {
        var fileInput = document.getElementById('fileInput');
        var formData = new FormData();
        formData.append('file', fileInput.files[0]);

        fetch('@Url.Action("Upload2")', {
            method: 'POST',
            body: formData
        })
            .then(response => response.text())
            .then(html => {
                document.getElementById('dataDiv').innerHTML = html;
            })
            .catch(error => console.error('Error:', error));
    });
    document.getElementById('executeFormulaButton').addEventListener('click', function () {
        var formulaInput = document.getElementById('formulaInput').value;

        fetch('@Url.Action("ExecuteFormula2")', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ formula: formulaInput })
        })
            .then(response => response.text())
            .then(html => {
                document.getElementById('dataDiv').innerHTML = html;
            })
            .catch(error => console.error('Error:', error));
    });
    
    
    function data() {
        var displayans = document.getElementById('displayanswer');
        var option = document.getElementById('options').value;
        if (option == 1) {
            displayans.innerHTML = '<p> = IF(<span style=\"color:#36C2CE\" > D2 </span><= 300, \"Đạt\", \"Không đạt\") </p >';
               
        }
        

    };
   
    
</script>





